# Shared
HOST=127.0.0.1
API_PORT=3000
WEB_DEV_PORT=5173

# Twitch bot
TWITCH_BOT_USERNAME=
TWITCH_BOT_OAUTH=
TWITCH_CHANNEL=
BOT_SHARED_SECRET=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# YouTube
YOUTUBE_API_KEY=

# Admin auth
ADMIN_PASSWORD=
JWT_SECRET=

# Database
DATABASE_URL="file:./dev.db"
